<div
  class="dev"
>
ZAKŁADKA W TRAKCIE BUDOWY
</div>

<nb-stepper orientation="vertical" linear="true" disableStepNavigation>
  <nb-step [stepControl]="roomForm" label="Pokój">
    <form #roomForm="ngForm" class="step-container">
      <div class="input-group">
        <nb-select
          placeholder="{{ availableRooms.length ? 'Wybierz pokój' : 'Brak dostępnych pokoi dla tylu osób' }}"
          class="form-control"
          name="rooms"
          required
          [(ngModel)]="selectedRoom"
          #name="ngModel"
          (selectedChange)="setNumberOfPeople()"
        >
          <nb-option
            *ngFor="let room of availableRooms"
            [value]="room"
          >
            {{ room }}
          </nb-option>
        </nb-select>
        <input
          name="people"
          [value]="maxPeople"
          type="number"
          nbInput
          required
          [(ngModel)]="maxPeople"
          (change)="filterRooms(maxPeople)"
        >
      </div>
      <button nbButton outline status="primary" nbStepperNext>Dalej</button>
    </form>
  </nb-step>
  <nb-step [stepControl]="arrivalForm" label="Data przyjazdu">
    <form #arrivalForm="ngForm" class="step-container">
      <div class="input-group">
        <input [nbDatepicker]="rangePicker"
          placeholder="Wybierz datę przyjazdu"
          class="form-control"
          name="arrival"
          required
          nbInput
          ngModel
          #name="ngModel"
        >
        <nb-rangepicker #rangePicker></nb-rangepicker>
      </div>
      <button nbButton hero status="warning" shape="semi-round" nbStepperNext>Dalej</button>
      <button nbButton nbStepperPrevious>Wróć</button>
    </form>
  </nb-step>
  <nb-step label="Podsumowanie">
    <ng-template #stepLabel>
        <div>
          step number 4
        </div>
    </ng-template>
    // ... step content here
    <button nbButton nbStepperPrevious>Wróć</button>
  </nb-step>
</nb-stepper>
