.dev {
  text-align: center;
  font-size: larger;
  color: white;
  background-color: red;
  margin: 20px;
  padding: 40px;
}

.stepper {
  margin: 40px 20px 40px 20px;
}

.step__container {
  padding: 5px;
}

h2 {
  margin-left: 25px;
  margin-bottom: 5px;
}

.input__group, .summary {
  padding: 10px;
}

.room__select, .stay__date, .number__of__guests {
  margin: 15px;
}

::ng-deep .stay__date {
  width: 250px; /* dostosuj szerokość według potrzeb */
}

.next, .back {
  margin-left: 25px;
}

.send {
  margin-left: 25px;
}

ul {
  margin: 10px 0px 10px 0px;
  // border: 3px solid green;
}

li {
  margin: 15px;
  font-size: 20px;
}
