@import 'src/styles/breakpoints';

img {
  width: 100%;
  height: auto;

  @media (min-width: $screen-md-min) {
    height: 80vh;
    width: auto;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#display-image {
  animation: fade 5s ease-in-out infinite;
}
