// @import 'src/styles.scss';
@import 'src/styles/breakpoints.scss';

.apartment {
  display: flex;
  align-items: center;
  font-size: 18px;
  width: 70%;
  margin: auto;
  padding: 20px;
}

.apartment:hover {
  background-color: darken($color: #e8e5e5e2, $amount: 0);
}

.apartment:first-of-type {
  margin-top: 100px;
}

.description {
  text-align: justify;
  order: 1;
  padding: 20px;
}

button {
  margin: 10px 10px 10px 0;
  padding: 25px;
  border: 2px solid green;
}

img {
  order: 2;
  margin-left: 20px;
}

@media screen and (min-width:$screen-md-min) and (max-width:$screen-xl-min) {
  .apartment {
    width: 80%;
    flex-direction: column;
    text-align: justify;
    padding: 15px;
  }

  .description {
    padding: 0 10% 2% 10%;
  }

  h2 {
    text-align: center;
  }

  .apartment:first-of-type {
    margin-top: 30px;
  }

  img {
    margin: 0;
    width: 80%;
    height: auto;
  }
}

@media screen and (max-width:$screen-md-min) {
  .apartment {
    width: 96%;
    flex-direction: column;
    font-size: 16px;
    text-align: justify;
    padding: 1vw;
  }

  .description {
    padding: 0 5% 2% 5%;
  }

  h2 {
    text-align: center;
  }

  .apartment:first-of-type {
    margin-top: 10px;
  }

  img {
    margin: 0;
    width: 90%;
    height: auto;
  }
}
