header {
  text-align: center;
}

footer {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: #af2c53;
  color: #fff;
}

.layout {
  width: 100%;
  padding: 0 !important;
}
