@import 'src/styles/breakpoints.scss';

.attraction__element {
  display: flex;
  align-items: center;
  font-size: 18px;
  width: 70%;
  margin: auto;
  margin-top: 70px;
}

.attraction__element:first-of-type {
  margin-top: 100px;
}

.description {
  text-align: justify;
  padding: 20px;
}

.attraction__element:nth-child(even) .description {
  order: 2;
}

.attraction__element:nth-child(even) img {
  order: 1;
  margin-right: 20px;
}

.attraction__element:nth-child(odd) .description {
  order: 1;
}

.attraction__element:nth-child(odd) img {
  order: 2;
  margin-left: 20px;
}

@media screen and (min-width:$screen-md-min) and (max-width:$screen-xl-min) {
  .attraction__element {
    width: 80%;
    flex-direction: column;
    text-align: justify;
    padding: 15px;
    margin-top: 0px;
  }

  .attraction__element:first-of-type {
    margin-top: 40px;
  }

  .description {
    padding: 0 10% 2% 10%;
  }

  h2 {
    text-align: center;
  }

  .attraction__element:nth-child(even) .description {
    order: 1;
  }

  .attraction__element:nth-child(even) img {
    order: 2;
    margin: 0;
    width: 80%;
    height: auto;
  }

  .attraction__element:nth-child(odd) img {
    margin: 0;
    width: 80%;
    height: auto;
  }
}

@media screen and (max-width:$screen-md-min) {
  .attraction__element {
    width: 96%;
    flex-direction: column;
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
  }

  .attraction__element:first-of-type {
    margin-top: 20px;
  }

  .description {
    padding: 0 5% 2% 5%;
  }

  h2 {
    text-align: center;
  }

  .attraction__element:nth-child(even) .description {
    order: 1;
  }

  .attraction__element:nth-child(even) img {
    order: 2;
    margin: 0;
    width: 90%;
    height: auto;
  }

  .attraction__element:nth-child(odd) img {
    margin: 0;
    width: 90%;
    height: auto;
  }
}
