@import 'src/styles';

.feature {
  display: flex;
  align-items: center;
  font-size: 18px;
  width: 70%;
  margin: auto;
  margin-top: 60px;
}

.description {
  text-align: center;
  padding: 20px;
}

.feature:nth-child(even) .description {
  order: 2;
}

.feature:nth-child(even) img {
  order: 1;
  margin-right: 20px;
}

.feature:nth-child(odd) .description {
  order: 1;
}

.feature:nth-child(odd) img {
  order: 2;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: $accent;
  font-size: 22px;
}
